# Виртуальное окружение
venv/

# Файлы с секретами
.env

# Python кэш и байткод
__pycache__/
*.pyc

# База данных SQLite
db.sqlite3

# Папка с медиа-файлами пользователя
media/

# Папки статических файлов, собираемых collectstatic (опционально, можно не трогать)
staticfiles/

# Настройки редакторов
.vscode/
.idea/

# Логи и временные файлы
*.log
*.pot
*.py[cod]
*.swp
.DS_Store
